.container {
  display: flex;
}

.buttonUser,
.buttonCart {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;

  border: none;
  background-color: transparent;
  fill: #ffffff;
  cursor: pointer;

  transition: fill 200ms linear;
}

.buttonUser:hover,
.buttonCart:hover,
.buttonUser:focus,
.buttonCart:focus {
  fill: #da9022;
}
